.form-container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh; 
}

.form-card {
    width: 40rem; 
    padding: 2rem;
}

.form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.buttons {
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
    margin: 0 20px;
}

.input {
    width: 80%;
}

.input-error {
    color: #b40e0e;
    font-size: 0.85rem;
}