.register-container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh; 
}

.register-card {
    width: 40rem; 
    padding: 2rem;
}

.input-error {
    color: #b40e0e;
    font-size: 0.85rem;
}

.form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center; 
}

.register {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    font-size: 0.9rem;
}

.input{
    width: 80%;
}
